@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
}

.app {
  width: 100%;
  min-height: 80vh;
  position: relative;
  scroll-behavior: smooth;
  overflow: hidden;
  background-color: #F4F2F4;
  -webkit-transition-property: background-color color;
  transition-property: background-color color;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.app .section-name {
  color: green;
}

.app .section-name.dark-theme {
  color: lightgreen;
}

.app.dark-theme {
  background-color: #18191A;
  color: white;
}

.app.dark-theme .section-name {
  color: #46E00E;
}

.loading {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: width .5s;
  transition: width .5s;
}

.loading.dissapear {
  width: 0%;
}

.loading .circle {
  width: 50px;
  height: 50px;
  background-color: #F4F2F4;
  border-radius: 50%;
  -webkit-animation-name: loading;
          animation-name: loading;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: translate(0px, 100px);
            transform: translate(0px, 100px);
  }
  33% {
    -webkit-transform: translate(100px, -50px);
            transform: translate(100px, -50px);
  }
  66% {
    -webkit-transform: translate(-100px, -50px);
            transform: translate(-100px, -50px);
  }
  100% {
    -webkit-transform: translate(0px, 100px);
            transform: translate(0px, 100px);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: translate(0px, 100px);
            transform: translate(0px, 100px);
  }
  33% {
    -webkit-transform: translate(100px, -50px);
            transform: translate(100px, -50px);
  }
  66% {
    -webkit-transform: translate(-100px, -50px);
            transform: translate(-100px, -50px);
  }
  100% {
    -webkit-transform: translate(0px, 100px);
            transform: translate(0px, 100px);
  }
}

#about-me {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about-me .name {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about-me .name div {
  padding: 1.5px;
  font-size: 55px;
  -webkit-transform: translate(0, -50px);
          transform: translate(0, -50px);
  opacity: 0;
  -webkit-transition-property: -webkit-transform opacity;
  transition-property: -webkit-transform opacity;
  transition-property: transform opacity;
  transition-property: transform opacity, -webkit-transform opacity;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#about-me .name div.show {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#about-me .name .first-letter-last-name {
  padding-left: 15px;
}

#about-me .title {
  font-size: 30px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about-me .title .dev {
  margin-left: 10px;
}

#about-me .title div {
  -webkit-transform: translate(0, -1000px);
          transform: translate(0, -1000px);
  opacity: 0;
  -webkit-transition-property: -webkit-transform opacity;
  transition-property: -webkit-transform opacity;
  transition-property: transform opacity;
  transition-property: transform opacity, -webkit-transform opacity;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#about-me .title div.show {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#about-me .text {
  max-width: 90%;
  margin-top: 50px;
  font-size: 22px;
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
  text-align: center;
}

#about-me .text.show {
  opacity: 1;
}

@media screen and (min-width: 600px) {
  #about-me .text {
    max-width: 70%;
    text-align: justify;
  }
}

@media screen and (min-width: 900px) {
  #about-me .text {
    max-width: 60%;
    text-align: justify;
  }
}

.menu {
  width: 100%;
  position: fixed;
  z-index: 1;
}

.menu .dark-field {
  position: fixed;
  right: 0;
  top: 0;
  width: 0%;
  height: 100vh;
  background: #000;
  opacity: .6;
  -webkit-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  z-index: 1;
}

.menu .burger-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 3;
}

.menu .burger-menu .line {
  margin: 7px;
  background-color: black;
  width: 45px;
  height: 5px;
  -webkit-transition-property: opacity transform;
  transition-property: opacity transform;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.menu .side-nav {
  min-height: 100vh;
  width: 0%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  background-color: #EEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-transition: width .5s;
  transition: width .5s;
}

.menu .side-nav .theme-switch {
  width: 100%;
  height: 50px;
  position: relative;
  cursor: pointer;
}

.menu .side-nav .theme-switch img {
  width: 50px;
  height: 50px;
  position: absolute;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.menu .side-nav .theme-switch #moon {
  left: 100%;
  -webkit-transform: translate(0);
          transform: translate(0);
}

.menu .side-nav a {
  color: black;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid black;
}

.menu .side-nav a.menu-select {
  max-width: 100%;
}

.menu .side-nav a.menu-select:hover {
  background-color: transparent;
}

.menu .side-nav a select {
  text-align: center;
  background-color: transparent;
  border: none;
}

.menu .side-nav a select:focus {
  border-radius: 0;
}

.menu .side-nav a:last-child {
  border-bottom: none;
}

.menu .side-nav a:hover {
  background-color: #17E4FF;
  color: white;
}

.menu.dark-theme .burger-menu .line {
  background-color: white;
}

.menu.dark-theme .side-nav {
  background-color: #242526;
}

.menu.dark-theme .side-nav a {
  -webkit-transition: color 1s;
  transition: color 1s;
  color: white;
}

.menu.dark-theme .side-nav a:hover {
  background-color: #363637;
}

.menu.dark-theme .side-nav .theme-switch #moon {
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.menu.dark-theme .side-nav .theme-switch #sun {
  left: 100%;
  -webkit-transform: translate(0);
          transform: translate(0);
}

@media screen and (min-width: 900px) {
  .menu .burger-menu {
    display: none;
  }
  .menu .side-nav {
    min-height: 0;
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
    -webkit-transition: background-color 1s, -webkit-transform .5s;
    transition: background-color 1s, -webkit-transform .5s;
    transition: transform .5s, background-color 1s;
    transition: transform .5s, background-color 1s, -webkit-transform .5s;
  }
  .menu .side-nav .theme-switch {
    width: 50px;
    padding-bottom: 0;
    padding-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu .side-nav .theme-switch img {
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .menu .side-nav .theme-switch #sun {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    -webkit-transition-delay: .5s;
            transition-delay: .5s;
  }
  .menu .side-nav .theme-switch #moon {
    left: 50%;
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  .menu .side-nav a {
    width: 12.5%;
    color: black;
    padding: 15px;
    border: none;
  }
  .menu .side-nav.show {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .menu.dark-theme .side-nav .theme-switch #sun {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
    left: 50%;
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
  }
  .menu.dark-theme .side-nav .theme-switch #moon {
    -webkit-transition-delay: .5s;
            transition-delay: .5s;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

.menu.active .dark-field {
  width: 100%;
}

.menu.active .burger-menu .first {
  -webkit-transform: translate(1px, 14px) rotate(-45deg);
          transform: translate(1px, 14px) rotate(-45deg);
}

.menu.active .burger-menu .second {
  opacity: 0;
}

.menu.active .burger-menu .third {
  -webkit-transform: translate(1px, -10px) rotate(45deg);
          transform: translate(1px, -10px) rotate(45deg);
}

.menu.active .side-nav {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .menu.active .side-nav {
    width: 60%;
  }
}

@media screen and (min-width: 900px) {
  .menu {
    height: auto;
  }
}

#achievements {
  width: 100%;
  padding-bottom: 50px;
}

#achievements .section-name {
  text-align: center;
  margin: 30px 0 50px 0;
}

#achievements .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#achievements .container .progress-bar {
  width: 130px;
  margin: 10px;
}

#achievements .container .progress-bar .title {
  text-align: center;
}

@media screen and (min-width: 900px) {
  #achievements .container {
    width: 60%;
    margin-left: 20%;
  }
  #achievements .container .progress-bar {
    width: 180px;
    margin: 40px;
  }
}

#skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

#skills .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 900px) {
  #skills .container {
    width: 60%;
  }
}

#skills .container .skill {
  text-align: center;
  width: calc(50% - 40px);
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
}

#skills .container .skill img {
  width: 100%;
  max-width: 150px;
  height: 100%;
  max-width: 150px;
}

@media screen and (min-width: 600px) {
  #skills .container .skill {
    width: auto;
    margin: 35px;
  }
  #skills .container .skill img {
    width: 150px;
    height: 150px;
  }
}

#projects {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#projects .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  font-size: 18px;
  margin: 40px 0 40px 0;
}

@media screen and (min-width: 900px) {
  #projects .project {
    min-width: 900px;
    width: 60%;
    max-width: 1400px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  #projects .project:nth-child(2n) {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-right: 50px;
  }
  #projects .project:nth-child(2n-1) {
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-left: 50px;
  }
}

#projects .project .photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100%;
  padding-top: 0;
  margin-bottom: 25px;
}

@media screen and (min-width: 900px) {
  #projects .project .photo {
    margin-bottom: 0;
    margin-right: 25px;
  }
}

#projects .project .photo a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  overflow: hidden;
}

#projects .project .photo a img {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s -webkit-transform;
  transition: 0.3s -webkit-transform;
  transition: 0.3s transform;
  transition: 0.3s transform, 0.3s -webkit-transform;
}

#projects .project .photo a img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#projects .project .right {
  width: 90%;
}

@media screen and (min-width: 900px) {
  #projects .project .right {
    height: 100%;
  }
}

#projects .project .right h3 {
  margin-top: 0;
}

#projects .project .right .technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

#projects .project .right .technologies div {
  padding: 10px;
  background: green;
  color: white;
  border-radius: 5px;
  margin: 0 10px 10px 0;
}

#books {
  margin: 30px 0 30px 0;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#books .slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#books .slider img {
  width: 326px;
  height: 466px;
  max-width: 100%;
}

#books .slider .arrow {
  width: 30px;
  height: 50px;
  background-color: white;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  cursor: pointer;
}

#books .slider .arrow.right {
  right: 0;
}

#books .slider .arrow.left {
  -webkit-transform: translate(0, -50%) rotate(180deg);
          transform: translate(0, -50%) rotate(180deg);
  left: 0;
}

#books .text {
  max-width: 500px;
}

#courses {
  position: relative;
  width: 100%;
  padding: 60px 0 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#courses .section-name {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: 30px;
}

#courses .course {
  width: calc(100% - 30px);
  padding: 15px;
}

#courses .course .img {
  width: 50%;
}

#courses .course .img img {
  width: 100%;
}

#courses .course .container {
  width: 100%;
  text-align: center;
  margin: 15px;
}

#courses .course .container .title {
  font-size: 1.3em;
  margin-bottom: 5px;
}

@media screen and (min-width: 900px) {
  #courses .courses-container {
    min-width: 950px;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #courses .courses-container .img-container {
    width: 100%;
    overflow: hidden;
  }
  #courses .courses-container .img-container .img img {
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
  }
  #courses .courses-container .img-container .img img:hover {
    -webkit-transform: scale(1.2) rotate(4deg);
            transform: scale(1.2) rotate(4deg);
  }
  #courses .courses-container .course {
    width: 400px;
    height: 400px;
    margin: 20px;
  }
  #courses .courses-container .course .description {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    overflow: hidden;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  #courses .courses-container .course:hover .description {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

#cv {
  width: 100%;
  padding: 50px 0 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cv a {
  padding: 20px;
  background-color: green;
  border-radius: 40px;
  color: white;
  text-decoration: none;
}

#contact {
  width: 100%;
  padding: 50px 0 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact a {
  padding: 20px;
  background-color: green;
  border-radius: 40px;
  color: white;
  text-decoration: none;
}
/*# sourceMappingURL=index.css.map */