@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html{
	scroll-behavior: smooth;
}
body{
	margin: 0;
	padding: 0;
	background-color: $light-bg-color;
	scroll-behavior: smooth;
	font-family: 'Open Sans', sans-serif;
}
.app{
	width: 100%;
	min-height: 80vh;
	position: relative;
	scroll-behavior: smooth;
}
.section-name{
	color:green;
}
.loading{
	width:100%;
	height: 100vh;
	position: fixed;
	z-index:2;
	top:0;
	left:0;
	background-color: $transition-screen;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: width .5s;
	&.dissapear{
		width:0%;
	}
	.circle{
		width:50px;
		height: 50px;
		background-color: $light-bg-color;
		border-radius: 50%;
		animation-name: loading;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
	}
	@keyframes loading {
		0%{
			transform: translate(0px, 100px);
		}
		33%{
			transform: translate(100px, -50px);
		}
		66%{
			transform: translate(-100px, -50px);
		}
		100%{
			transform: translate(0px, 100px);
		}
	}
}
#about-me{
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.name{
		margin-top:80px;
		display: flex;
		div{
			padding: 1.5px;
			font-size: 55px;
			transform: translate(0, -50px);
			opacity: 0;
			transition-property: transform opacity;
			transition-duration: 0.6s;
		}
		div.show{
			opacity: 1;
			transform: translate(0,0);
		}
		.first-letter-last-name{
			padding-left:15px;
		}
	}
	.title{
		font-size: 30px;
		margin:10px;
		display: flex;
		.dev{
			margin-left: 10px;
		}
		div{
			transform: translate(0, -1000px);
			opacity: 0;
			transition-property: transform opacity;
			transition-duration: 0.6s;
			&.show{
				opacity: 1;
				transform: translate(0,0);
			}
		}
	}
	.text{
		max-width: 90%;
		margin-top: 50px;
		font-size: 22px;
		opacity: 0;
		transition-property: opacity;
		transition-duration: .6s;
		text-align: center;
		&.show{
			opacity: 1;
		}
	}
	@media screen and (min-width: $screen-small-width){
		.text{
			max-width: 70%;
			text-align: justify;
		}
	}
	@media screen and (min-width: $screen-normal-width){
		.text{
			max-width: 60%;
			text-align: justify;
		}
	}
}
.menu{
	width:100%;
	position: fixed;
	z-index: 1;
	.dark-field{
		position:fixed;
		right:0;
		top:0;
		width:0%;
		height: 100vh;
		background: #000;
		opacity: .6;
		transition-property: width;
		transition-duration: .5s;
		z-index:1;
	}
	.burger-menu{
		position: absolute;
		top:10px;
		right:10px;
		cursor: pointer;
		z-index:3;
		.line{
			margin:7px;
			background-color:$light-burger-bg-color;
			width:45px;
			height: 5px;
			transition-property: opacity transform;
			transition-duration: .5s;
		}
	}
	@media screen and (min-width: $screen-normal-width){
		.burger-menu{
			display: none;
		}
	}
	.side-nav{
		min-height:100vh;
		width:0%;
		position: fixed;
		right: 0;
		top:0;
		z-index:2;
		background-color: #EEE;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transition-property: opacity transform;
		transition-duration: .5s;
		overflow: hidden;
		a{
			color: $light-color;
			text-decoration: none;
			display: block;
			width:100%;
			text-align: center;
			padding:10px;
			border-bottom: 1px solid black;
		}
		a:last-child{
			border-bottom: none;
		}
		a:hover{
			background-color:#17E4FF;
			color:white;
		}
	}
	@media screen and (min-width:$screen-normal-width){
		.side-nav{
			min-height: 0;
			position: fixed;
			top:0;
			width:100%;
			flex-direction: row;
			transform:translate(0, -100%);
			transition-property: transform;
			transition-duration: .5s;
			a{
				color:black;
				padding:15px;
				border:none;
			}
			&.show{
				transform:translate(0, 0);
			}
		}
	}
	&.active{
		.dark-field{
			width: 100%;
		}
		.burger-menu{
			.first{
				transform:translate(1px, 14px) rotate(-45deg);
			}
			.second{
				opacity:0;
			}
			.third{
				transform:translate(1px,-10px) rotate(45deg);
			}
		}
		.side-nav{
			width:100%;
		}
		@media screen and (min-width: $screen-small-width){
			.side-nav{
				width:60%;
			}
		}
	}
}
@media screen and (min-width: $screen-normal-width){
	.menu{
		height: auto;
	}
}
#achievements{
	min-height: 100vh;
}
#achievements{
	width:100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-self: center;
	.progress-ring{
		.circle {
			transition: 2s stroke-dashoffset;
			transform: rotate(-90deg);
			transform-origin: 50% 50%;
		  }
	}
}
.skills{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;	
	padding-top:50px;
	padding-bottom:50px;
	.container{
		width:100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		@media screen and (min-width: $screen-normal-width){
			width:60%;
		}
		.skill{
			text-align: center;
			width:calc(50% - 40px);
			margin:20px;
			font-size: 20px;
			font-weight: bold;
			img{
				width:100%;
				max-width:150px;
				height:100%;
				max-width:150px;
			}
			@media screen and (min-width: $screen-small-width){
				width:auto;
				margin:35px;
				img{
					width:150px;
					height: 150px;
				}
			}
		}
	}
}
.projects{
	width:100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	.project{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width:100%;
		font-size: 18px;
		.photo{
			display: flex;
			justify-content: center;
			align-items: center;
			width:100%;
			padding-top:0;	
			a{
				width:90%;
				img{
					width:100%;
				}
			}
		}
		.right{
			width:90%;
			h3{
				margin-top:0;
			}
			.technologies{
				display: flex;
				flex-wrap:wrap;
				margin-top:20px;
				div{
					padding: 10px;
					background: green;
					color:white;
					border-radius: 5px;
					margin:0 10px 10px 0;
				}
			}
		}
	}
}