@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html{
	scroll-behavior: smooth;
}
body{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	font-family: 'Open Sans', sans-serif;
}
.app{
	width: 100%;
	min-height: 80vh;
	position: relative;
	scroll-behavior: smooth;
	overflow: hidden;
	background-color: $light-bg-color;
	transition-property: background-color color;
	transition-duration: 1s;
	.section-name{
		color:green;
		&.dark-theme{
			color: lightgreen;
		}
	}
	&.dark-theme{
		background-color: $dark-bg-color;
		color: white;
		.section-name{
			color: #46E00E;
		}
	}
	
}
.loading{
	width:100%;
	height: 100vh;
	position: fixed;
	z-index:2;
	top:0;
	left:0;
	background-color: $transition-screen;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: width .5s;
	&.dissapear{
		width:0%;
	}
	.circle{
		width:50px;
		height: 50px;
		background-color: $light-bg-color;
		border-radius: 50%;
		animation-name: loading;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
	}
	@keyframes loading {
		0%{
			transform: translate(0px, 100px);
		}
		33%{
			transform: translate(100px, -50px);
		}
		66%{
			transform: translate(-100px, -50px);
		}
		100%{
			transform: translate(0px, 100px);
		}
	}
}
#about-me{
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.name{
		margin-top:80px;
		display: flex;
		div{
			padding: 1.5px;
			font-size: 55px;
			transform: translate(0, -50px);
			opacity: 0;
			transition-property: transform opacity;
			transition-duration: 0.6s;
		}
		div.show{
			opacity: 1;
			transform: translate(0,0);
		}
		.first-letter-last-name{
			padding-left:15px;
		}
	}
	.title{
		font-size: 30px;
		margin:10px;
		display: flex;
		.dev{
			margin-left: 10px;
		}
		div{
			transform: translate(0, -1000px);
			opacity: 0;
			transition-property: transform opacity;
			transition-duration: 0.6s;
			&.show{
				opacity: 1;
				transform: translate(0,0);
			}
		}
	}
	.text{
		max-width: 90%;
		margin-top: 50px;
		font-size: 22px;
		opacity: 0;
		transition-property: opacity;
		transition-duration: .6s;
		text-align: center;
		&.show{
			opacity: 1;
		}
	}
	@media screen and (min-width: $screen-small-width){
		.text{
			max-width: 70%;
			text-align: justify;
		}
	}
	@media screen and (min-width: $screen-normal-width){
		.text{
			max-width: 60%;
			text-align: justify;
		}
	}
}
.menu{
	width:100%;
	position: fixed;
	z-index: 1;
	.dark-field{
		position:fixed;
		right:0;
		top:0;
		width:0%;
		height: 100vh;
		background: #000;
		opacity: .6;
		transition-property: width;
		transition-duration: .5s;
		z-index:1;
	}
	.burger-menu{
		position: absolute;
		top:10px;
		right:10px;
		cursor: pointer;
		z-index:3;
		.line{
			margin:7px;
			background-color:$light-burger-bg-color;
			width:45px;
			height: 5px;
			transition-property: opacity transform;
			transition-duration: .5s;
		}
	}
	.side-nav{
		min-height:100vh;
		width:0%;
		position: fixed;
		right: 0;
		top:0;
		z-index:2;
		background-color: $light-menu-bg-color;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		transition: width .5s;
		.theme-switch{
			width:100%;
			height: 50px;
			position: relative;
			cursor: pointer;
			img{
				width:50px;
				height: 50px;
				position: absolute;
				transform:translate(-50%);

			}
			#moon{
				left:100%;
				transform:translate(0);
			}
		}
		a{
			color: $light-color;
			text-decoration: none;
			display: block;
			width:100%;
			text-align: center;
			padding:10px;
			border-bottom: 1px solid black;
			&.menu-select{
				width:80px;
				&:hover{
					background-color: transparent;
				}
				select{
					text-align: center;
					background-color: transparent;
					border:none;
					outline:none;
					option{
						background-color: white;
					}
					&:focus{
						border-radius: 0;
						border: none;
						outline:none;
					}
				}
			}
		}
		a:last-child{
			border-bottom: none;
		}
		a:hover{
			background-color:#17E4FF;
			color:white;
		}
	}
	&.dark-theme{
		.burger-menu{
			.line{
				background-color: white;
			}
		}
		.side-nav{
			background-color: $dark-menu-bg-color;
			a{
				transition: color 1s;
				color:white;
				&:hover{
					background-color: $dark-menu-hover-bg-color
				}
				&.menu-select{
					select{
						color:white;
						option{
							background-color: $dark-menu-hover-bg-color;
						}
					}
				}
			}
			.theme-switch{
				#moon{
					left:50%;
					transform:translate(-50%);
				}
				#sun{
					left:100%;
					transform:translate(0);
				}
			}
		}
	}
	
	@media screen and (min-width:$screen-normal-width){
		.burger-menu{
			display: none;
		}
		.side-nav{
			min-height: 0;
			position: fixed;
			top:0;
			width:100%;
			flex-direction: row;
			transform:translate(0, -100%);
			transition: transform .5s, background-color 1s;
			align-items: initial;
			justify-content: initial;
			.theme-switch{
				width:50px;
				padding-bottom: 0;
				padding-top: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				img{
					transition: transform 0.5s;	
				}
				#sun{
					left:50%;
					transform:translate(-50%, 0);
					transition-delay: .5s;	
				}
				#moon{
					left:50%;
					transform:translate(-50%, -100%);
					transition-delay: 0s;
				}
			}
			a{
				display: block;
				width:12.5%;
				color:black;
				padding:15px;
				border:none;
			}
			&.show{
				transform:translate(0, 0);
			}
		}
		&.dark-theme{
			.side-nav{
				.theme-switch{
					#sun{
						transition-delay: 0s;
						left:50%;
						transform:translate(-50%, -100%);
					}
					#moon{
						transition-delay: .5s;
						transform:translate(-50%, 0);
					}
				}
			}
		}
	}
	&.active{
		.dark-field{
			width: 100%;
		}
		.burger-menu{
			.first{
				transform:translate(1px, 14px) rotate(-45deg);
			}
			.second{
				opacity:0;
			}
			.third{
				transform:translate(1px,-10px) rotate(45deg);
			}
		}
		.side-nav{
			width:100%;			
			@media screen and (min-width: $screen-small-width){
				width:60%;
			}
		}
	}
}
@media screen and (min-width: $screen-normal-width){
	.menu{
		height: auto;
	}
}
#achievements{
	width:100%;
	padding-bottom:50px;
	.section-name{
		text-align: center;
		margin:30px 0 50px 0;
	}
	.container{
		width:100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		.progress-bar{
			width:130px;
			margin:10px;
			.title{
				text-align: center;
			}
		}
	}
	@media screen and (min-width: $screen-normal-width){
		.container{
			width: 60%;
			margin-left: 20%;
			.progress-bar{
				width:180px;
				margin:40px;
			}
		}
	}
}
#skills{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;	
	padding-top:50px;
	padding-bottom:50px;
	.container{
		width:100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		@media screen and (min-width: $screen-normal-width){
			width:60%;
		}
		.skill{
			text-align: center;
			width:calc(50% - 40px);
			margin:20px;
			font-size: 20px;
			font-weight: bold;
			img{
				width:100%;
				max-width:150px;
				height:100%;
				max-width:150px;
			}
			@media screen and (min-width: $screen-small-width){
				width:auto;
				margin:35px;
				img{
					width:150px;
					height: 150px;
				}
			}
		}
	}
}
#projects{
	width:100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	.project{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width:100%;
		font-size: 18px;
		margin:40px 0 40px 0;
		@media screen and (min-width: $screen-normal-width){
			min-width:900px;
			width:60%;
			max-width:1400px;
			flex-direction: row;
			align-items: flex-end;
			&:nth-child(2n){
				align-self: flex-end;
				margin-right:50px;
			}
			&:nth-child(2n-1){
				align-self: flex-start;
				flex-direction: row-reverse;
				margin-left:50px;
			}
		}
		.photo{
			display: flex;
			justify-content: center;
			align-items: flex-start;
			width:100%;
			height: 100%;
			padding-top:0;	
			margin-bottom: 25px;
			@media screen and (min-width: $screen-normal-width){
				margin-bottom: 0;
				margin-right: 25px;
			}
			a{
				width:100%;
				display: flex;
				justify-content: center;
				align-items: flex-start;
				height: 100%;
				overflow: hidden;
				img{
					width:100%;
					height: 100%;
					transition: 0.3s transform;
					&:hover{
						transform: scale(1.2);
					}
				}
			}
		}
		.right{
			width:90%;
			@media screen and (min-width: $screen-normal-width){
				height:100%;
			}
			h3{
				margin-top:0;
			}
			.technologies{
				display: flex;
				flex-wrap:wrap;
				margin-top:20px;
				div{
					padding: 10px;
					background: green;
					color:white;
					border-radius: 5px;
					margin:0 10px 10px 0;
				}
			}
		}
	}
}
#books{
	margin: 30px 0 30px 0;
	max-width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	.slider{
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		img{
			width:326px;
			height: 466px;
			max-width: 100%;
		}
		.arrow{
			width:30px;
			height: 50px;
			background-color: white;
			position: absolute;
			top:50%;
			transform: translate(0, -50%);
			cursor: pointer;
			&.right{
				right:0;
			}
			&.left{
				transform: translate(0, -50%) rotate(180deg);
				left:0;
			}
		}
	}
	.text{
		max-width:500px;
	}
}
#courses{
	position: relative;
	width:100%;
	padding: 60px 0 40px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	.section-name{
		position: absolute;
		left:50%;
		transform: translate(-50%);
		top:30px;
	}
	.course{
		width:calc(100% - 30px);
		padding: 15px;
		.img{
			width:50%;
			img{
				width:100%;
			}
		}
		.container{
			width:100%;
			text-align: center;
			.title{
				font-size: 1.3em;
				margin-bottom: 5px;
			}
			margin: 15px;
		}
	}
	@media screen and (min-width:$screen-normal-width){
		.courses-container{
			min-width: 950px;
			width:80%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			.img-container{
				width:100%;
				overflow: hidden;
				.img{
					img{
						transition: transform .5s;
						&:hover{
							transform: scale(1.2) rotate(4deg);
						}
					}
				}
			}
			.course{
				width:400px;
				height: 400px;
				margin: 20px;
				.description{
					transform: scaleY(0);
					overflow: hidden;
					transition: transform 0.5s;
				}
				&:hover{
					.description{
						transform: scaleY(1);
					}
				}
			}
		}
	}
}
#cv{
	width:100%;
	padding:50px 0 100px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	a{
		padding: 20px;
		background-color:green;
		border-radius: 40px;
		color:white;
		text-decoration: none;
	}
}
#contact{
	width:100%;
	padding:50px 0 100px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	a{
		padding: 20px;
		background-color:green;
		border-radius: 40px;
		color:white;
		text-decoration: none;
	}
}